{% extends 'base.html.twig' %}

{% block title %}Index{% endblock %}

{% block body %}

    <!-- Intro Section
    ================================================== -->
    <section id="intro">

        <!-- Flexslider Start-->
        <div id="intro-slider" class="flexslider">

            <ul class="slides">
                {% for post in latestPosts %}
                    <!-- Slide -->
                    <li>
                        <div class="row">
                            <div class="twelve columns">
                                <div class="slider-text">
                                    <h1>{{ post.title }}<span>.</span></h1>
                                    <p>{{ post.content}}</p>
                                </div>
                                <div class="slider-image">
                                    <img src="{{ vich_uploader_asset(post.image) }}" alt=""/>
                                </div>
                            </div>
                        </div>
                    </li>
                {% endfor %}
                <!-- Slide -->
                <li>
                    <div class="row">
                        <div class="twelve columns">
                            <div class="slider-text">
                                <h1>Free amazing site template<span>.</span></h1>
                                <p>Aenean condimentum, lacus sit amet luctus lobortis, dolores et quas molestias
                                    excepturi
                                    enim tellus ultrices elit, amet consequat enim elit noneas sit amet luctu. lacus sit
                                    amet luctus lobortis, dolores et quas molestias excepturi
                                    enim tellus ultrices elit.</p>
                            </div>
                            <div class="slider-image">
                                <img src="{{ asset('build/images/sliders/home-slider-image-01.png') }}" alt=""/>
                            </div>
                        </div>
                    </div>
                </li>

                <!-- Slide -->
                <li>
                    <div class="row">
                        <div class="twelve columns">
                            <div class="slider-text">
                                <h1>Responsive + HTML5 + CSS3<span>.</span></h1>
                                <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium
                                    voluptatum
                                    deleniti eos et accusamus. amet consequat enim elit noneas sit amet luctu. lacus sit
                                    amet luctus lobortis.
                                    Aenean condimentum, lacus sit amet luctus.</p>
                            </div>
                            <div class="slider-image">
                                <img src="{{ asset('build/images/sliders/home-slider-image-02.png') }}" alt=""/>
                            </div>
                        </div>
                    </div>
                </li>

            </ul>

        </div> <!-- Flexslider End-->

    </section> <!-- Intro Section End-->

    <!-- Info Section
    ================================================== -->
    <section id="info">
        <div class="row">

            <div class="bgrid-quarters s-bgrid-halves">

                <div class="columns">
                    <h2>Clean & Modern.</h2>

                    <p>Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit.
                        Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.
                    </p>
                </div>

                <div class="columns">
                    <h2>Responsive.</h2>

                    <p>Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit.
                        Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.
                    </p>
                </div>

                <div class="columns s-first">
                    <h2>HTML5 + CSS3.</h2>

                    <p>Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit.
                        Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.
                    </p>
                </div>

                <div class="columns">
                    <h2>Free of Charge.</h2>

                    <p>Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit.
                        Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.
                    </p>
                </div>

            </div>

        </div>

    </section> <!-- Info Section End-->

    <!-- Works Section
    ================================================== -->
    <section id="works">

        <div class="row">

            <div class="twelve columns align-center">
                <h1>Some of our recent works.</h1>
            </div>

            <div id="portfolio-wrapper" class="bgrid-quarters s-bgrid-halves">
                {% for post in latestPosts %}
                    <div class="columns portfolio-item">
                        <div class="item-wrap">
                            <a href="{{ path('readPost', {id: post.id }) }}">
                                <img alt="" src="{{ vich_uploader_asset(post.image) }}">
                                <div class="overlay"></div>
                                <div class="link-icon"><i class="fa fa-link"></i></div>
                            </a>
                            <div class="portfolio-item-meta">
                                <h5><a href="{{ path('readPost', {id: post.id }) }}">{{ post.title }}</a></h5>
                                <p>
                                    {% for tag in post.tag %}
                                        {{ tag }},
                                    {% endfor %}
                                </p>
                            </div>
                        </div>
                    </div>
                {% endfor %}

            </div>

        </div>

    </section> <!-- Works Section End-->

    <!-- Journal Section
    ================================================== -->
    <section id="journal">

        <div class="row">
            <div class="twelve columns align-center">
                <h1>Our latest posts and rants.</h1>
            </div>
        </div>

        <div class="blog-entries">
            {% for post in latestPosts %}
                <!-- Entry -->
                <article class="entry">
                    <div class="row entry-header">
                        <div class="col">
                            <div class="post-meta end">
                                <p>
                                    <time datetime="{{ post.createdTime | format_datetime('short', 'none') }}"
                                          class="post-date">
                                        {{ post.createdTime | format_datetime('full', 'short') }}
                                    </time>
                                    <span class="dauthor">By {{ post.user.username }}</span>
                                    <post-vote-count :post="{{ post.id }}"></post-vote-count>
                                </p>
                            </div>
                        </div>
                        <div class="col-8">
                            <div class="">
                                <h3><a href="{{ path('readPost', {id: post.id }) }}">{{ post.title }}</a></h3>
                                <div class="post-content">
                                    <p>
                                        {{ post.description }}
                                        <a class="more-link" href="{{ path('readPost', {id: post.id }) }}">
                                            Read More
                                            <i class="fa fa-arrow-circle-o-right"></i>
                                        </a>
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="permalink">
                                <a href="{{ path('readPost', {id: post.id }) }}"><i class="fa fa-link"></i></a>
                            </div>
                        </div>
                    </div>

                </article> <!-- Entry End -->
            {% endfor %}
        </div> <!-- Entries End -->
    </section> <!-- Journal Section End-->
{% endblock %}