{% extends 'base.html.twig' %}

{% block title %}Index{% endblock %}

{% block body %}
    <!-- Header
   ================================================== -->
    <header>

        <div class="row">

            <div class="twelve columns">

                <div class="logo">
                    <a href="index.html"><img alt="" src="images/logo.png"></a>
                </div>

                <nav id="nav-wrap">

                    <a class="mobile-btn" href="#nav-wrap" title="Show navigation">Show navigation</a>
                    <a class="mobile-btn" href="#" title="Hide navigation">Hide navigation</a>

                    <ul id="nav" class="nav">

                        <li><a href="index.html">Home</a></li>
                        <li class="current"><span><a href="blog.html">Blog</a></span>
                            <ul>
                                <li><a href="blog.html">Blog Index</a></li>
                                <li><a href="single.html">Post</a></li>
                            </ul>
                        </li>
                        <li><span><a href="portfolio-index.html">Portfolio</a></span>
                            <ul>
                                <li><a href="portfolio-index.html">Portfolio Index</a></li>
                                <li><a href="portfolio.html">Portfolio Entry</a></li>
                            </ul>
                        </li>
                        <li><a href="about.html">About</a></li>
                        <li><a href="contact.html">Contact</a></li>
                        <li><a href="styles.html">Features</a></li>

                    </ul> <!-- end #nav -->

                </nav> <!-- end #nav-wrap -->

            </div>

        </div>

    </header> <!-- Header End -->

    <!-- Page Title
    ================================================== -->
    <div id="page-title">

        <div class="row">

            <div class="ten columns centered text-center">
                <h1>Our Blog<span>.</span></h1>

                <p>Aenean condimentum, lacus sit amet luctus lobortis, dolores et quas molestias excepturi
                    enim tellus ultrices elit, amet consequat enim elit noneas sit amet luctu. </p>
            </div>

        </div>

    </div> <!-- Page Title End-->

    <!-- Content
    ================================================== -->
    <div class="content-outer">

        <div id="page-content" class="row">

            <div id="primary" class="eight columns">

                <article class="post">

                    <div class="entry-header cf">

                        <h1>{{ post.title }}</h1>

                        <p class="post-meta">
                            <time class="date"
                                  datetime="{{ post.createdTime | format_datetime('short', 'none') }}">{{ post.createdTime | format_datetime('full', 'short') }}</time>
                        </p>

                    </div>

                    <div class="post-thumb">
                        <img src="{{ vich_uploader_asset(post.image) }}" alt="post-image" title="post-image">
                    </div>

                    <div class="post-content">

                        <p class="lead">{{ post.description }}</p>

                        <p>{{ post.content }}</p>

                        <p class="tags">
                            <span>Tagged in </span>:
                            {% for tag in post.tag %}
                                <a href="#">{{ tag.name }}</a>,
                            {% endfor %}
                        </p>

                        <div class="bio cf">

                            <div class="gravatar">
                                <img src="{{ vich_uploader_asset(post.user.profilePicture) }}" alt="">
                            </div>
                            <div class="about">
                                <h5><a title="Posts by John Doe" href="#" rel="author">John Doe</a></h5>
                                <p>{{ post.user.banner }}</p>
                            </div>

                        </div>

                        <ul class="post-nav cf">
                            <li class="prev">
                                <a rel="prev" href="{{ path('readPost', {id: previousPost.id }) }}">
                                    <strong>Previous Article</strong>
                                    {{ previousPost.title }}
                                </a>
                            </li>
                            <li class="next">
                                <a rel="next" href="{{ path('readPost', {id: nextPost.id }) }}">
                                    <strong>Next Article</strong>
                                    {{ nextPost.title }}
                                </a>
                            </li>
                        </ul>

                    </div>

                </article> <!-- post end -->

                <!-- Comments
                ================================================== -->
                <div id="comments">

                    <h3>{{ post.comments | length }} Comments</h3>

                    <!-- commentlist -->
                    <ol class="commentlist">
                        {% for comment in post.comments %}
                            {% if not comment.commentOwner %}
                                <li>

                                    <div class="avatar">
                                        <img width="50" height="50" class="avatar" src="{{ vich_uploader_asset(comment.owner.profilePicture) }}"
                                             alt="">
                                    </div>

                                    <div class="comment-info">
                                        <cite>{{ comment.owner.username }}</cite>

                                        <div class="comment-meta">
                                            <time class="comment-time" datetime="{{ comment.createdTime | format_datetime('short', 'none') }}">
                                                {{ comment.createdTime | format_datetime('full', 'short') }}
                                            </time>
                                            <span class="sep">/</span><a class="reply" href="#">Reply</a>
                                        </div>
                                    </div>

                                    <div class="comment-text">
                                        <p>{{ comment.content }}</p>
                                    </div>

                                    {% for reply in comment.reply %}
                                        {{ _self.recursiveComment(reply) }}
                                    {% endfor %}
                                </li>
                            {% endif %}
                        {% endfor %}
                        <li>
                            <div class="avatar">
                                <img width="50" height="50" class="avatar" src="images/user-01.png" alt="">
                            </div>
                            <div class="comment-info">
                                <cite>Itachi Uchiha</cite>

                                <div class="comment-meta">
                                    <time class="comment-time" datetime="2014-01-14T23:05">Jan 14, 2013 @ 23:05</time>
                                    <span class="sep">/</span><a class="reply" href="#">Reply</a>
                                </div>
                            </div>
                            <div class="comment-text">
                                <p>Adhuc quaerendum est ne, vis ut harum tantas noluisse, id suas iisque mei. Nec te
                                    inani ponderum vulputate,
                                    facilisi expetenda has et. Iudico dictas scriptorem an vim, ei alia mentitum est, ne
                                    has voluptua praesent.</p>
                            </div>

                        </li>
                    </ol> <!-- Commentlist End -->


                    <!-- respond -->
                    <div class="respond">

                        <h3>Leave a Comment</h3>

                        <!-- form -->
                        <form name="contactForm" id="contactForm" method="post" action="">
                            <fieldset>

                                <div class="cf">
                                    <label for="cName">Name <span class="required">*</span></label>
                                    <input name="cName" type="text" id="cName" size="35" value=""/>
                                </div>

                                <div class="cf">
                                    <label for="cEmail">Email <span class="required">*</span></label>
                                    <input name="cEmail" type="text" id="cEmail" size="35" value=""/>
                                </div>

                                <div class="cf">
                                    <label for="cWebsite">Website</label>
                                    <input name="cWebsite" type="text" id="cWebsite" size="35" value=""/>
                                </div>

                                <div class="message cf">
                                    <label for="cMessage">Message <span class="required">*</span></label>
                                    <textarea name="cMessage" id="cMessage" rows="10" cols="50"></textarea>
                                </div>

                                <button type="submit" class="submit">Submit</button>

                            </fieldset>
                        </form> <!-- Form End -->

                    </div> <!-- Respond End -->

                </div>  <!-- Comments End -->

            </div>

            <div id="secondary" class="four columns end">

                <aside id="sidebar">

                    <div class="widget widget_search">
                        <h5>Search</h5>
                        <form action="#">

                            <input class="text-search" type="text"
                                   onfocus="if (this.value == 'Search here...') { this.value = ''; }"
                                   onblur="if(this.value == '') { this.value = 'Search here...'; }"
                                   value="Search here...">
                            <input type="submit" class="submit-search" value="">

                        </form>
                    </div>

                    <div class="widget widget_tag_cloud">
                        <h5 class="widget-title">Tags</h5>
                        <div class="tagcloud cf">
                            {% for tag in post.tag %}
                                <a href="#">{{ tag.name }}</a>
                            {% endfor %}
                        </div>
                    </div>

                </aside> <!-- Sidebar End -->

            </div> <!-- Comments End -->

        </div>

    </div> <!-- Content End-->

    <!-- Tweets Section
    ================================================== -->
    <section id="tweets">

        <div class="row">

            <div class="tweeter-icon align-center">
                <i class="fa fa-twitter"></i>
            </div>

            <ul id="twitter" class="align-center">
                <li>
               <span>
               This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet.
               Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum
               <a href="#">http://t.co/CGIrdxIlI3</a>
               </span>
                    <b><a href="#">2 Days Ago</a></b>
                </li>
                <!--
                <li>
                   <span>
                   This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet.
                   Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum
                   <a href="#">http://t.co/CGIrdxIlI3</a>
                   </span>
                   <b><a href="#">3 Days Ago</a></b>
                </li>
                -->
            </ul>

            <p class="align-center"><a href="#" class="button">Follow us</a></p>

        </div>

    </section> <!-- Tweet Section End-->

    <!-- footer
    ================================================== -->
    <footer>

        <div class="row">

            <div class="twelve columns">

                <ul class="footer-nav">
                    <li><a href="#">Home.</a></li>
                    <li><a href="#">Blog.</a></li>
                    <li><a href="#">Portfolio.</a></li>
                    <li><a href="#">About.</a></li>
                    <li><a href="#">Contact.</a></li>
                    <li><a href="#">Features.</a></li>
                </ul>

                <ul class="footer-social">
                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                    <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                    <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                    <li><a href="#"><i class="fa fa-skype"></i></a></li>
                    <li><a href="#"><i class="fa fa-rss"></i></a></li>
                </ul>

                <ul class="copyright">
                    <li>Copyright &copy; 2014 Sparrow</li>
                    <li>Design by <a href="http://www.styleshout.com/">Styleshout</a></li>
                </ul>

            </div>

            <div id="go-top" style="display: block;"><a title="Back to Top" href="#">Go To Top</a></div>

        </div>

    </footer> <!-- Footer End-->
{% endblock %}

{% macro recursiveComment(comment) %}
    <ul class="children">

        <li>

            <div class="avatar">
                <img width="50" height="50" class="avatar" src="{{ vich_uploader_asset(comment.owner.profilePicture) }}"
                     alt="">
            </div>

            <div class="comment-info">
                <cite>{{ comment.owner.username }}</cite>

                <div class="comment-meta">
                    <time class="comment-time" datetime="{{ comment.createdTime | format_datetime('short', 'none') }}">
                        {{ comment.createdTime | format_datetime('full', 'short') }}
                    </time>
                    <span class="sep">/</span><a class="reply" href="#">Reply</a>
                </div>
            </div>

            <div class="comment-text">
                <p>{{ comment.content }}</p>
            </div>

            {% for reply in comment.reply %}
                {{ _self.recursiveComment(reply) }}
            {% endfor %}
        </li>

    </ul>
{% endmacro %}