{% extends 'base.html.twig' %}

{% block title %}{{ post.title }}{% endblock %}

{% block body %}

    <!-- Content
    ================================================== -->
    <div class="content-outer">

        <div id="page-content" class="row">

            <div id="primary" class="eight columns">

                <article class="post">

                    <div class="entry-header cf">

                        <h1>{{ post.title }}</h1>

                        <p class="post-meta">
                            <time class="date"
                                  datetime="{{ post.createdTime | format_datetime('short', 'none') }}">{{ post.createdTime | format_datetime('full', 'short') }}</time>
                        </p>

                    </div>

                    <div class="post-thumb">
                        <img src="{{ vich_uploader_asset(post.image) }}" alt="post-image" title="post-image">
                    </div>

                    <div class="post-content">

                        <p class="lead">{{ post.description }}</p>

                        <p>{{ post.content }}</p>

                        <p class="tags">
                            <span>Tagged in </span>:
                            {% for tag in post.tag %}
                                <a href="#">{{ tag.name }}</a>,
                            {% endfor %}
                        </p>

                        <div class="bio cf">

                            <div class="gravatar">
                                <img src="{{ vich_uploader_asset(post.user.profilePicture) }}" alt="">
                            </div>
                            <div class="about">
                                <h5><a title="Posts by {{ post.user.username }}" href="#" rel="author">By {{ post.user.username }}</a></h5>
                                <p>{{ post.user.banner }}</p>
                            </div>

                        </div>

                        <ul class="post-nav cf">
                            <li class="prev">
                                <a rel="prev" href="{{ path('readPost', {id: previousPost.id }) }}">
                                    <strong>Previous Article</strong>
                                    {{ previousPost.title }}
                                </a>
                            </li>
                            <li class="next">
                                <a rel="next" href="{{ path('readPost', {id: nextPost.id }) }}">
                                    <strong>Next Article</strong>
                                    {{ nextPost.title }}
                                </a>
                            </li>
                        </ul>

                    </div>

                </article> <!-- post end -->

                <!-- Comments
                ================================================== -->
                <div id="comments">

                    <h3>{{ post.comments | length }} Comments</h3>

                    <!-- commentlist -->
                    <ol class="commentlist">
                        {% for comment in post.comments %}
                            {% if not comment.commentOwner %}
                                <li>

                                    <div class="avatar">
                                        <img width="50" height="50" class="avatar" src="{{ vich_uploader_asset(comment.owner.profilePicture) }}"
                                             alt="">
                                    </div>

                                    <div class="comment-info">
                                        <cite>{{ comment.owner.username }}</cite>

                                        <div class="comment-meta">
                                            <time class="comment-time" datetime="{{ comment.createdTime | format_datetime('short', 'none') }}">
                                                {{ comment.createdTime | format_datetime('full', 'short') }}
                                            </time>
                                            <span class="sep">/</span><a class="reply" href="#">Reply</a>
                                        </div>
                                    </div>

                                    <div class="comment-text">
                                        <p>{{ comment.content }}</p>
                                    </div>

                                    {% for reply in comment.reply %}
                                        {{ _self.recursiveComment(reply) }}
                                    {% endfor %}
                                </li>
                            {% endif %}
                        {% endfor %}
                    </ol> <!-- Commentlist End -->


                    <!-- respond -->
                    <div class="respond">

                        <h3>Leave a Comment</h3>

                        <!-- form -->
                        <form name="contactForm" id="contactForm" method="post" action="">
                            <fieldset>

                                <div class="cf">
                                    <label for="cName">Name <span class="required">*</span></label>
                                    <input name="cName" type="text" id="cName" size="35" value=""/>
                                </div>

                                <div class="cf">
                                    <label for="cEmail">Email <span class="required">*</span></label>
                                    <input name="cEmail" type="text" id="cEmail" size="35" value=""/>
                                </div>

                                <div class="cf">
                                    <label for="cWebsite">Website</label>
                                    <input name="cWebsite" type="text" id="cWebsite" size="35" value=""/>
                                </div>

                                <div class="message cf">
                                    <label for="cMessage">Message <span class="required">*</span></label>
                                    <textarea name="cMessage" id="cMessage" rows="10" cols="50"></textarea>
                                </div>

                                <button type="submit" class="submit">Submit</button>

                            </fieldset>
                        </form> <!-- Form End -->

                    </div> <!-- Respond End -->

                </div>  <!-- Comments End -->

            </div>

            <div id="secondary" class="four columns end">

                <aside id="sidebar">

                    <div class="widget widget_search">
                        <h5>Search</h5>
                        <form action="#">

                            <input class="text-search" type="text"
                                   onfocus="if (this.value == 'Search here...') { this.value = ''; }"
                                   onblur="if(this.value == '') { this.value = 'Search here...'; }"
                                   value="Search here...">
                            <input type="submit" class="submit-search" value="">

                        </form>
                    </div>

                    <div class="widget widget_tag_cloud">
                        <h5 class="widget-title">Tags</h5>
                        <div class="tagcloud cf">
                            {% for tag in post.tag %}
                                <a href="#">{{ tag.name }}</a>
                            {% endfor %}
                        </div>
                    </div>

                </aside> <!-- Sidebar End -->

            </div> <!-- Comments End -->

        </div>

    </div> <!-- Content End-->
{% endblock %}

{% macro recursiveComment(comment) %}
    <ul class="children">

        <li>

            <div class="avatar">
                <img width="50" height="50" class="avatar" src="{{ vich_uploader_asset(comment.owner.profilePicture) }}"
                     alt="">
            </div>

            <div class="comment-info">
                <cite>{{ comment.owner.username }}</cite>

                <div class="comment-meta">
                    <time class="comment-time" datetime="{{ comment.createdTime | format_datetime('short', 'none') }}">
                        {{ comment.createdTime | format_datetime('full', 'short') }}
                    </time>
                    <span class="sep">/</span><a class="reply" href="#">Reply</a>
                </div>
            </div>

            <div class="comment-text">
                <p>{{ comment.content }}</p>
            </div>

            {% for reply in comment.reply %}
                {{ _self.recursiveComment(reply) }}
            {% endfor %}
        </li>

    </ul>
{% endmacro %}